@use 'sass:math';
@use '../blocks/header/header';
@use '../blocks/hero/hero';
@use '../blocks/popular/popular';
@use '../blocks/slider/slider';
@use '../blocks/news/news';
@use '../blocks/footer/footer';

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
}

.wrapper {
  position: relative;
  width: 70px * 12 + 30px * (11 + 1);
  padding-right: math.div(30px, 2);
  padding-left: math.div(30px, 2);
  margin-right: auto;
  margin-left: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  clip-path: inset(100%);
  white-space: nowrap;
  border: 0;
}
